       <div class="container-fluid" id="login-header">
        <div class="col-4">
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" />
        </div>
    </div>

    <nav class="navbar justify-content-end navbar-dark bg-dark">
        <!-- Navbar content -->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">VIEW</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active logout" href="#">LOGOUT</a>
            </li>
        </ul>
    </nav>



<div class="row justify-content-center">
    <div class="col-3">
        <h2 id="add-crd" class="text-center">Add Cards</h2>
        <form id="add-form" class="input-card text-center">
            <input id="search-card" list="card-list" name="crd">
            <datalist id="crd-list">
            </datalist>
            <input id="BtnCard" type="button" value="Submit">
            <!-- Modal body -->
            <div class="modal" id="alert-modal">
                <h2>Warning</h2>
                <p>Card not Found</p>
                <!-- Keep onclick attribute on modal -->
                <button class="close">close</button>
            </div>
        </form>
    </div>
</div>