<div class="container-fluid" id="login-header">
    <div class="col-4">
        <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" />
    </div>
</div>

<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ADD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="#">LOGOUT</a>
        </li>
    </ul>
</nav>

<h2 class="header-two"> <span class="poke-red">Your</span> Collection:</h2>
<section class="row justify-center">
    {{!-- {{#if users.pokemons.length}} --}}
    {{#each pokemons}}

    <img src="{{this.images}}" class="img-responsive card col-2" alt="{{this.name}}">

    {{/each}}
    {{!-- {{/if}} --}}
</section>