<div class="container-fluid d-flex flex-row justify-content-center" id="login-header">
    <h1 id="login-logo"> <span class="poke-red">Poke</span>Baller</h1>
    <img src="public/images/pokeball.png" alt="pokeball" />
</div>
<div class="container">
    <h2 class="header-two"> <span class="poke-red">Your</span> Collection:</h2>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-4 card">Card1</div>
        <div class="col-4 card">Card2</div>
        <div class="col-4 card">Card3</div>
    </div>

    <h2 class="header-two"> <span class="poke-red">Popular</span> Cards:</h2>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-4 card">Card1</div>
        <div class="col-4 card">Card2</div>
        <div class="col-4 card">Card3</div>
    </div>

</div>