   <div class="container-fluid" id="login-header">
        <div class="col-4">
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" />
        </div>
    </div>
    <nav class="navbar justify-content-end navbar-dark bg-dark">
        <!-- Navbar content -->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    COLLECTION
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">VIEW</a></li> <!-- TODO: replace # with code -->
                    <li><a class="dropdown-item" href="#">ADD</a></li> <!-- TODO: replace # with code -->
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active logout" href="/login">LOGOUT</a>
            </li>
        </ul>
    </nav>

<div class="container">
    <h2 class="header-two"> <span class="poke-red">Your</span> Collection:</h2>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-4 card">Card1</div>
        <div class="col-4 card">Card2</div>
        <div class="col-4 card">Card3</div>
        <div class="col-4 card">Card4</div>
        <div class="col-4 card">Card5</div>
    </div>

    <h2 class="header-two"> <span class="poke-red">Popular</span> Cards:</h2>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-4 card">Card1</div>
        <div class="col-4 card">Card2</div>
        <div class="col-4 card">Card3</div>
        <div class="col-4 card">Card4</div>
        <div class="col-4 card">Card5</div>
    </div>

</div>