<div class="container-fluid d-flex flex-row justify-content-center" id="login-header">
        <img src="/images/pokeballer-logo.png" alt="pokeball"/>
    </div>

<nav class="navbar justify-content-end navbar-dark bg-dark"></nav>

    <div class="row justify-content-center">
        <div class="col-md-3 border border-4">
          <h2>Login</h2>
          <form class="form login-form">
            <div class="form-group">
              <label for="email-login">Email:</label>
            </div>
              <input class="form-input" type="text" id="email-login" />
            <div class="form-group">
              <label for="password-login">Password:</label>
            </div>
              <input class="form-input" type="password" id="password-login" />
            <div class="form-group">
              <button class="btn btn-primary" type="submit" id="submit">LOGIN</button>
            </div>
          </form>
        </div>
        <div class="col-md-3 border border-4">
          <h2>Signup</h2>
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup">Name:</label>
            </div>
              <input class="form-input" type="text" id="name-signup" />
            <div class="form-group">
              <label for="email-signup">Email:</label>
            </div>
              <input class="form-input" type="text" id="email-signup" />
            <div class="form-group">
              <label for="password-signup">Password:</label>
            </div>
              <input class="form-input" type="password" id="password-signup" />
            <div class="form-group">
              <button class="btn btn-primary" type="submit">SIGNUP</button>
            </div>
          </form>
        </div>
      </div>

<script src="/js/login.js"></script>