<header>
        <div class="container-fluid d-flex flex-row justify-content-center" id="login-header">
        <h1 id="login-logo"> <span id= "poke-red">Poke</span>Baller</h1>
        <img src="../public/images/pokeball.png" alt="pokeball" />
    </div>
</header>