/* RESET ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', sans-serif;
}

/* FONT STYLE ON HEADERS ********************************/
.poke-red {
    color: #ca2b2b;
}

.header-two {
    margin: 20px;
    font-family: "Pokemon";
}

/* LOGIN/SIGNUP PAGE STYLES *****************************/

.container {
    max-width: 1250px;
}


/* STYLING FOR EACH CARD DISPLAY ************************/
.card {
    margin: 20px;
    align-content: center;
    padding: 0;
    border: none;
    box-shadow: 0 0 20px rgb(14, 14, 14);
    transition: 1s;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* Styling on hover */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: transparent;
    margin: auto;
}

.card:hover .overlay {
    background-color: rgba(128, 128, 128, 0.5);
}

.rare-text {
    color: transparent;
    opacity: 1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

.card:hover .rare-text{
    color: white;
}
/*Styling on rarity */

/* NAV BAR STYLING **************************************/
#navbarDropdownMenuLink {
    max-width: 200px;
}

#add-crd {
    margin: 60px;
}

.nav-link {
    color: white;
    font-size: 24px;
}

.logout {
    color: #ca2b2b;
}

.nav-link:hover {
    color: #ca2b2b;
    text-shadow: 0px 0px 3px white;
}

.logout:hover {
    color: white;
    text-shadow: 0px 0px 5px #ca2b2b;
}

/* SEARCH FORM STYLING ***********************************/
#search-card {
    margin-top: 28px;
}

.sample-search {
    z-index: 0;
    width: 320px;
}

.search {
    position: relative;
    bottom: 20px;
    border: 6px solid black;
    padding: 40px;
    background: linear-gradient(red, darkred);
}

#add-form {
    z-index: 1;
    position: relative;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

/* LOGIN/SIGNUP FORM STYLING *****************************/
.login-box {
    margin: 60px 20px 20px 20px;
}

.signup-box {
    margin: 60px 20px 20px 20px;

}