/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGIN/SIGNUP PAGE STYLES */

.container{
    max-width: 1000px;
}

#login-header {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-color: black;
}

#login-logo {
    font-family: "Pokemon";
    font-size: 100px;
    margin-top: 40px;
    transform: rotate(-5deg);
}

.poke-red {
    color: #ca2b2b;
}

.header-two {
    margin: 20px;
}

.card {
    border: 2px black solid;
    width: 200px;
    height: 300px;
    margin: 20px;
    align-content: center;
}

#navbarDropdownMenuLink {
    max-width: 200px;
}

#add-crd {
    margin: 60px;
}

#add-form {
    border: 2px black solid;
    height: 320px;
    
}