/* RESET ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MEDIA QUERIES ****************************************/
@media only screen and (min-width : 320px) and (max-width : 600px) {
    .card {
        width: 75%;
    }
    .logo {
        width: 100%;
        min-width: 400px
    }
    .search {
        width: 75%;
        height: auto;
    }
    .navbar {
        text-align: center;
        margin: 0;
		padding: 0;
		text-align: center;
        
    }
    nav ul {
        margin: 0;
        padding: 10px;
        justify-content: center;
    }
    nav li {
        display: inline;
        justify-content: center;
    }
    nav a {
        display: inline-block;
        padding: 1em;
        justify-content: center;
    }
    .header-two {
        text-align: center;
    }
}

body {
    font-family: 'Hind', sans-serif;
}

/* FONT STYLE ON HEADERS ********************************/
.poke-red {
    color: #ca2b2b;
}

.header-two {
    margin: 20px;
    font-family: 'Hind', sans-serif;
}

/* LOGIN/SIGNUP PAGE STYLES *****************************/

.container {
    max-width: 1250px;
}

.login-box {
    margin: 60px 20px 20px 20px;
}

.signup-box {
    margin: 60px 20px 20px 20px;

}


/* STYLING FOR EACH CARD DISPLAY ************************/
.card {
    margin: 20px;
    /* align-content: center; */
    padding: 0;
    border: none;
    box-shadow: 0 0 20px rgb(14, 14, 14);
    transition: 1s;
    position: relative;
}


.card:hover {
    transform: scale(1.1);
}

/* Styling on hover */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: transparent;
    margin: auto;
}

.card:hover .overlay {
    background-color: rgba(128, 128, 128, 0.7);
}

.rare-text {
    color: transparent;
    opacity: 1;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

.card:hover .rare-text{
    color: white;
}

.card-table {
    justify-content: center;
    margin: auto;
}

/* NAV BAR STYLING **************************************/
#navbarDropdownMenuLink {
    max-width: 200px;
}

#add-crd {
    margin: 60px;
}

.nav-link {
    color: white;
    font-size: 24px;
}

.logout {
    color: #ca2b2b;
}

.nav-link:hover {
    color: #ca2b2b;
    text-shadow: 0px 0px 3px white;
}

.logout:hover {
    color: white;
    text-shadow: 0px 0px 5px #ca2b2b;
}

/* SEARCH FORM STYLING ***********************************/
#search-card {
    margin-top: 10%;
    margin-bottom: 20%;
}

/* .sample-search {
    width: 320px;
} */

.search {
    /* position: relative; */
    bottom: 20px;
    border: 6px solid black;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 5%;
    background: linear-gradient(red, darkred);
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

/* HOMEPAGE FORM STYLING *****************************/

.welcome  {
    margin: 20px;
    padding: 20px;
}
.welcome h2 {
    font-family: 'Hind', sans-serif;
    font-size: 44px;
    margin-bottom: 40px;
}
.welcome p {
    font-size: 24px;
}